data/*
*/.idea/*
*/target/*
*.iml
.DS_Store
build/*
dist/*
**.pyc
datasets/*
output/*
TRAPP.egg-info/*
.ipynb_checkpoints/*
notebooks/.ipynb_checkpoints/*
log/*
.idea/*
results/*
/output/plans_1549130003/
/output/plans_1549129968/
